<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMPProgressView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>167BAA9A1D365F3900411545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167BAAB31D365F3B00411545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167BAABE1D365F3B00411545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
